body {
    padding-top: 50px;
}

.text-bold {
    font-weight: bold;
}

.no-redius {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.padding {
    padding: 16px;
}

.padding-top {
    padding-top: 16px;
}

.padding-bottom {
    padding-bottom: 16px;
}

.margin {
    margin: 16px;
}

.margin-top {
    margin-top: 16px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.navbar-danger {
    background-color: #fff;
    border-color: #fff;
}

.navbar-danger .navbar-brand {
    color: #eb6266;
}

.navbar-danger .navbar-brand:hover,
.navbar-danger .navbar-brand:focus {
    color: #fff;
    background-color: #eb6266;
}

.navbar-danger .navbar-text {
    color: #eb6266;
}

.navbar-danger .navbar-nav > li > a {
    color: #eb6266;
}

.navbar-danger .navbar-nav > li > a:hover,
.navbar-danger .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #eb6266;
}

.navbar-danger .navbar-nav > .active > a,
.navbar-danger .navbar-nav > .active > a:hover,
.navbar-danger .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #eb6266;
}

.navbar-danger .navbar-nav > .disabled > a,
.navbar-danger .navbar-nav > .disabled > a:hover,
.navbar-danger .navbar-nav > .disabled > a:focus {
    color: #fff;
    background-color: #eb6266;
}

.navbar-danger .navbar-toggle {
    border-color: #eb6266;
}

.navbar-danger .navbar-toggle:hover,
.navbar-danger .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-danger .navbar-toggle .icon-bar {
    background-color: #eb6266;
}

.navbar-danger .navbar-collapse,
.navbar-danger .navbar-form {
    border-color: #fff;
}

.navbar-danger .navbar-nav > .open > a,
.navbar-danger .navbar-nav > .open > a:hover,
.navbar-danger .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #eb6266;
}

@media (max-width: 767px) {
    .navbar-danger .navbar-nav .open .dropdown-menu > li > a {
        color: #eb6266;
    }

    .navbar-danger .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-danger .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #fff;
        background-color: #eb6266;
    }

    .navbar-danger .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-danger .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-danger .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fff;
        background-color: #eb6266;
    }

    .navbar-danger .navbar-nav .open .dropdown-menu > .disabled > a,
    .navbar-danger .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .navbar-danger .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #fff;
        background-color: #eb6266;
    }
}

.navbar-danger .navbar-link {
    color: #777;
}

.navbar-danger .navbar-link:hover {
    color: #333;
}

.navbar-danger .btn-link {
    color: #777;
}

.navbar-danger .btn-link:hover,
.navbar-danger .btn-link:focus {
    color: #333;
}

.navbar-danger .btn-link[disabled]:hover,
fieldset[disabled] .navbar-danger .btn-link:hover,
.navbar-danger .btn-link[disabled]:focus,
fieldset[disabled] .navbar-danger .btn-link:focus {
    color: #ccc;
}

.footer {
    background-color: #eb6266;
    padding: 35px 0px;
    color: #9e3034;
}

.footer .light {
    color: #fff;
}

@media (min-width: 768px) {
    /** dropdown-menu-fluid **/
    .navbar-danger .dropdown-menu.dropdown-menu-fluid {
        position: fixed;
        left: 0;
        right: 0;
        top: 50px;

        background-color: #eb6266;
        color: #fff;
        padding: 0;
    }

    .navbar-danger .dropdown-menu.dropdown-menu-fluid .menu-img {
        height: 100px;
    }

    .navbar-danger .dropdown-menu.dropdown-menu-fluid .menu-list {
        padding: 16px 0;
    }

    .navbar-danger .dropdown-menu.dropdown-menu-fluid .menu-list .btn.btn-link {
        color: #fff;
    }

}

.text-success {
    color: #5cb85c;
}

.text-danger {
    color: #eb6266;
}

.text-gray {
    color: gray;
}

.text-lightgray {
    color: lightgray;
}

.lightgray-bg {
    background-color: #f4f4f4;
}
